:root {
    /* Colors */
    --primary-color: #C8D9E6;
    --secondary-color: #FFFFff;
    --text-color: #2f4156;
    --delete-button: #D65D5D;
    --delete-button-hover: #932d2d;
   --save-button: #7ABE5B;
   --save-button-hover: #518539;
    /* Fonts */
    --P-fam: 'Poppins', sans-serif;
}
.body{
    font-family: var(--P-fam);
    margin: 0;
    padding: 0;
    background-color: var(--text-color);
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--secondary-color);
}
.container{
    display: flex;
    flex-direction: row;
    width: 1001px;
    background-color: var(--primary-color);
    border-radius: 25px;
    height: 704px;
    overflow: hidden;
    font-family: var(--P-fam);
}

h1{
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 64px;
    color: var(--text-color);
}



